In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

# final version will read from the database and use environment variables
df = pd.read_csv('insurance_claims.csv', na_values=['?'])
# remove one row (of 1,000) with negative umbrella policy limit
df = df[df['umbrella_limit'] >= 0]
df.dropna(axis=0, inplace=True)

In [2]:
col_names = ['months_as_customer', 'age', 'policy_state', 'policy_deductable', 'policy_annual_premium', 'umbrella_limit', 'insured_zip', 'insured_sex', 'insured_education_level', 'insured_occupation', 'insured_hobbies', 'insured_relationship', 'capital-gains', 'capital-loss', 'incident_type', 'collision_type', 'incident_severity', 'authorities_contacted', 'incident_state', 'incident_hour_of_the_day', 'number_of_vehicles_involved', 'property_damage', 'bodily_injuries', 'witnesses', 'police_report_available', 'total_claim_amount', 'injury_claim', 'property_claim', 'vehicle_claim', 'fraud_reported']
# load dataset
# dtdf = pd.read_csv('insurance_claims.csv', header=None, names=col_names)
# dtdf['policy_deductable']
data = df[col_names]
data.head()

,months_as_customer,age,policy_state,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,...,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,fraud_reported
0,328,48,OH,1000,1406.91,0,466132,MALE,MD,craft-repair,...,1,YES,1,2,YES,71610,6510,13020,52080,Y
2,134,29,OH,2000,1413.14,5000000,430632,FEMALE,PhD,sales,...,3,NO,2,3,NO,34650,7700,3850,23100,N
5,256,39,OH,1000,1351.10,0,478456,FEMALE,PhD,tech-support,...,3,NO,0,2,NO,64100,6410,6410,51280,Y
8,27,33,IL,500,1442.99,0,601734,FEMALE,PhD,other-service,...,1,NO,1,1,YES,27700,2770,2770,22160,N
11,447,61,OH,2000,1137.16,0,615561,FEMALE,High School,exec-managerial,...,3,YES,1,2,YES,114920,17680,17680,79560,N

In [3]:
data_binary_encoded = pd.get_dummies(data, columns=['insured_sex', 'insured_education_level', 'insured_occupation', 'police_report_available', 'insured_hobbies', 'insured_relationship', 'incident_type', 'collision_type', 'incident_severity', 'authorities_contacted', 'incident_state', 'property_damage', 'policy_state'])
data_binary_encoded.head()

,months_as_customer,age,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,...,incident_state_OH,incident_state_PA,incident_state_SC,incident_state_VA,incident_state_WV,property_damage_NO,property_damage_YES,policy_state_IL,policy_state_IN,policy_state_OH
0,328,48,1000,1406.91,0,466132,53300,0,5,1,...,0,0,1,0,0,0,1,0,0,1
2,134,29,2000,1413.14,5000000,430632,35100,0,7,3,...,0,0,0,0,0,1,0,0,0,1
5,256,39,1000,1351.10,0,478456,0,0,19,3,...,0,0,1,0,0,1,0,0,0,1
8,27,33,500,1442.99,0,601734,0,0,21,1,...,0,0,0,0,1,1,0,1,0,0
11,447,61,2000,1137.16,0,615561,0,-51000,21,3,...,0,0,1,0,0,0,1,0,0,1

In [4]:
data_binary_encoded.drop(columns = ['police_report_available_NO', 'property_damage_NO'], inplace=True)
data_binary_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 340 entries, 0 to 992
Data columns (total 90 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   months_as_customer                      340 non-null    int64
 1   age                                     340 non-null    int64
 2   policy_deductable                       340 non-null    int64
 3   policy_annual_premium                   340 non-null    float64
 4   umbrella_limit                          340 non-null    int64
 5   insured_zip                             340 non-null    int64
 6   capital-gains                           340 non-null    int64
 7   capital-loss                            340 non-null    int64
 8   incident_hour_of_the_day                340 non-null    int64
 9   number_of_vehicles_involved             340 non-null    int64
 10  bodily_injuries                         340 non-null    int64
 11  witnesses                               340 non-null    int64
 12  total_claim_amount                      340 non-null    int64
 13  injury_claim                            340 non-null    int64
 14  property_claim                          340 non-null    int64
 15  vehicle_claim                           340 non-null    int64
 16  fraud_reported                          340 non-null    object
 17  insured_sex_FEMALE                      340 non-null    uint8
 18  insured_sex_MALE                        340 non-null    uint8
 19  insured_education_level_Associate       340 non-null    uint8
 20  insured_education_level_College         340 non-null    uint8
 21  insured_education_level_High School     340 non-null    uint8
 22  insured_education_level_JD              340 non-null    uint8
 23  insured_education_level_MD              340 non-null    uint8
 24  insured_education_level_Masters         340 non-null    uint8
 25  insured_education_level_PhD             340 non-null    uint8
 26  insured_occupation_adm-clerical         340 non-null    uint8
 27  insured_occupation_armed-forces         340 non-null    uint8
 28  insured_occupation_craft-repair         340 non-null    uint8
 29  insured_occupation_exec-managerial      340 non-null    uint8
 30  insured_occupation_farming-fishing      340 non-null    uint8
 31  insured_occupation_handlers-cleaners    340 non-null    uint8
 32  insured_occupation_machine-op-inspct    340 non-null    uint8
 33  insured_occupation_other-service        340 non-null    uint8
 34  insured_occupation_priv-house-serv      340 non-null    uint8
 35  insured_occupation_prof-specialty       340 non-null    uint8
 36  insured_occupation_protective-serv      340 non-null    uint8
 37  insured_occupation_sales                340 non-null    uint8
 38  insured_occupation_tech-support         340 non-null    uint8
 39  insured_occupation_transport-moving     340 non-null    uint8
 40  police_report_available_YES             340 non-null    uint8
 41  insured_hobbies_base-jumping            340 non-null    uint8
 42  insured_hobbies_basketball              340 non-null    uint8
 43  insured_hobbies_board-games             340 non-null    uint8
 44  insured_hobbies_bungie-jumping          340 non-null    uint8
 45  insured_hobbies_camping                 340 non-null    uint8
 46  insured_hobbies_chess                   340 non-null    uint8
 47  insured_hobbies_cross-fit               340 non-null    uint8
 48  insured_hobbies_dancing                 340 non-null    uint8
 49  insured_hobbies_exercise                340 non-null    uint8
 50  insured_hobbies_golf                    340 non-null    uint8
 51  insured_hobbies_hiking                  340 non-null    uint8
 52  insured_hobbies_kayaking                340 non-null    uint8
 53  insured_hobbies_movies                  340 non-null    uint8
 54  insured_hobbies_paintball               340 non-null    uint8
 55  insured_hobbies_polo                    340 non-null    uint8
 56  insured_hobbies_reading                 340 non-null    uint8
 57  insured_hobbies_skydiving               340 non-null    uint8
 58  insured_hobbies_sleeping                340 non-null    uint8
 59  insured_hobbies_video-games             340 non-null    uint8
 60  insured_hobbies_yachting                340 non-null    uint8
 61  insured_relationship_husband            340 non-null    uint8
 62  insured_relationship_not-in-family      340 non-null    uint8
 63  insured_relationship_other-relative     340 non-null    uint8
 64  insured_relationship_own-child          340 non-null    uint8
 65  insured_relationship_unmarried          340 non-null    uint8
 66  insured_relationship_wife               340 non-null    uint8
 67  incident_type_Multi-vehicle Collision   340 non-null    uint8
 68  incident_type_Single Vehicle Collision  340 non-null    uint8
 69  collision_type_Front Collision          340 non-null    uint8
 70  collision_type_Rear Collision           340 non-null    uint8
 71  collision_type_Side Collision           340 non-null    uint8
 72  incident_severity_Major Damage          340 non-null    uint8
 73  incident_severity_Minor Damage          340 non-null    uint8
 74  incident_severity_Total Loss            340 non-null    uint8
 75  authorities_contacted_Ambulance         340 non-null    uint8
 76  authorities_contacted_Fire              340 non-null    uint8
 77  authorities_contacted_Other             340 non-null    uint8
 78  authorities_contacted_Police            340 non-null    uint8
 79  incident_state_NC                       340 non-null    uint8
 80  incident_state_NY                       340 non-null    uint8
 81  incident_state_OH                       340 non-null    uint8
 82  incident_state_PA                       340 non-null    uint8
 83  incident_state_SC                       340 non-null    uint8
 84  incident_state_VA                       340 non-null    uint8
 85  incident_state_WV                       340 non-null    uint8
 86  property_damage_YES                     340 non-null    uint8
 87  policy_state_IL                         340 non-null    uint8
 88  policy_state_IN                         340 non-null    uint8
 89  policy_state_OH                         340 non-null    uint8
dtypes: float64(1), int64(15), object(1), uint8(73)
memory usage: 72.1+ KB

In [5]:
# Using Random Forest for Classification
# split dataset in features and target variable
y = data_binary_encoded['fraud_reported'].map({'Y':1,'N':0})
X = data_binary_encoded.drop(columns=['fraud_reported'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [6]:
# Feature Scaling
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [7]:
classifier = RandomForestClassifier(n_estimators=100, random_state=0)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [8]:
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(accuracy_score(y_test, y_pred))

[[45  6]
 [ 8  9]]
              precision    recall  f1-score   support

           0       0.85      0.88      0.87        51
           1       0.60      0.53      0.56        17

    accuracy                           0.79        68
   macro avg       0.72      0.71      0.71        68
weighted avg       0.79      0.79      0.79        68

0.7941176470588235

In [9]:
# which features have most weight toward predicting fraud?
importances = classifier.feature_importances_
importances

array([0.03417052, 0.03323503, 0.01242731, 0.04801681, 0.01645574,
       0.02693769, 0.02321233, 0.02367853, 0.0258537 , 0.01192383,
       0.01192484, 0.01014631, 0.03088785, 0.0428986 , 0.03442493,
       0.03641335, 0.00674813, 0.00444757, 0.00597632, 0.00455092,
       0.00340876, 0.0042943 , 0.00490695, 0.00368403, 0.00213064,
       0.00055886, 0.00305287, 0.00228251, 0.00415756, 0.00650483,
       0.00234579, 0.00332179, 0.00406288, 0.0013751 , 0.0020376 ,
       0.00281959, 0.0058504 , 0.0071623 , 0.00251812, 0.00466209,
       0.00189083, 0.00134669, 0.00140429, 0.00150257, 0.00517812,
       0.04648456, 0.0346651 , 0.00177278, 0.00217695, 0.0021086 ,
       0.00164063, 0.00237979, 0.00121909, 0.0022204 , 0.00708088,
       0.00248897, 0.00184807, 0.00237647, 0.00342382, 0.00086518,
       0.00431073, 0.00470963, 0.00501862, 0.00514943, 0.0060832 ,
       0.00538681, 0.00463564, 0.00719727, 0.00770981, 0.00934826,
       0.00800305, 0.13030893, 0.03691326, 0.03954125, 0.00343458,
       0.00526737, 0.00438157, 0.00498425, 0.00652351, 0.00419451,
       0.01093427, 0.00022632, 0.00533341, 0.00481263, 0.00753636,
       0.00999124, 0.0055643 , 0.0059232 , 0.00703551])

In [10]:
X.columns[71] # The largest number; An accident is more likely to involve fraud if incident_severity_Major Damage is present

'incident_severity_Major Damage'

In [11]:
# ML code above here

In [12]:
total_count = df.shape[0]
fraud_count = df[(df['fraud_reported'] == 'Y')].shape[0]
umbrella_count = df[(df['umbrella_limit'] > 0)].shape[0]
fraudumbrella_count = df[(df['fraud_reported'] == 'Y') & (df['umbrella_limit'] > 0)].shape[0]
fraudnonumbrella_count = df[(df['fraud_reported'] == 'Y') & (df['umbrella_limit'] == 0)].shape[0]
print(f'fraud % of total: {100*fraud_count / total_count}') 
print(f'umbrella % of total: {100*umbrella_count / total_count}')
print(f'fraud % of umbrella: {100*fraudumbrella_count / umbrella_count}')
print(f'fraud % of non-umbrella: {100*fraudnonumbrella_count / (total_count - umbrella_count)}')

fraud % of total: 25.58823529411765
umbrella % of total: 17.941176470588236
fraud % of umbrella: 36.0655737704918
fraud % of non-umbrella: 23.29749103942652

In [13]:
# The following values were very evenly distributed, e.g., three states about 1/3 each:
# umbrella_limit = fraudumbrella['umbrella_limit'].value_counts()
# state = X['policy_state'].value_counts()
# csl = X['policy_csl'].value_counts()
# deductable = X['policy_deductable'].value_counts()